<div class="container">

    <h3>Lista de usuarios</h3>
    @if (users.length === 0) {
        <div class="alert alert-dismissible alert-warning">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <h4 class="alert-heading">Alerta!</h4>
            <p class="mb-0">No hay registros en el sistema</p>
        </div>
    }@else {

        <div class="row">

            <div class="col">
                <app-user-form></app-user-form>
            </div>
            <div class="col">
                
                <app-user [users]="users" ></app-user>
            </div>

        </div>

    
    }

</div>
