<div class="container">

    <h3>Lista de usuarios</h3>

    <button class="btn btn-primary" (click)="setOpen()" > {{ open === true? 'Cerrar':'Crear Usuario' }} </button>

    <div class="row">

        @if ( open ) {
            <div class="col">
                <app-user-form (userEventEmitter)="addUser($event)"
                [user]="userSelected"
                ></app-user-form>
            </div>
        }@else {
            <div class="col">
                @if (users.length === 0) {
                    <div class="alert alert-dismissible alert-warning">
                        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                        <h4 class="alert-heading">Alerta!</h4>
                        <p class="mb-0">No hay registros en el sistema</p>
                    </div>
                }@else {
                    <app-user [users]="users" (idUserEventEmitter)="remove($event)" (selectedUserEventEmitter)="setSelectedUser($event)" ></app-user>
                }
                
            </div>
        }

    </div>

    
    

</div>
